body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.signup-container {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-form {
    text-align: center;
}

.signup-form h2 {
    color: #262626;
    margin-bottom: 20px;
}

.input-field,
.signup-button {
    width: calc(100% - 22px);
    /* 22px = 10px (left/right padding) + 2px (border) */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
}

.input-field {
    height: 40px;
}

.signup-button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #357ae8;
}

a {
    color: #003569;
    text-decoration: none;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.field-error-message {
    border-color: #dc3545;
    color: #dc3545;
    font-size: 12px;
}