<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/joinForm.css"
        th:href="@{/css/joinForm.css}" rel="stylesheet">
  <title>회원가입 페이지</title>
</head>
<body>


<div class="signup-container">
  <div class="signup-form">
    <h2>Sign Up</h2>
    <form action="/joinProc" method="post" th:object="${joinUserRequest}">
      <div class="field-error-message" th:errors="*{instagramId}">아이디 오류</div>
      <input th:field="*{instagramId}" th:errorclass="field-error" class="input-field" placeholder="Instagram Id" name="instagramId">
      <div class="field-error-message" th:errors="*{password}">비밀번호 오류</div>
      <input th:field="*{password}" th:errorclass="field-error" class="input-field" type="password" placeholder="Password" name="password">
      <button class="signup-button">Sign Up</button>
    </form>
    <p>By signing up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <a href="#">Cookies Policy</a>.</p>
  </div>
</div>

</body>
</html>
