<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/privateUserInfo.css" rel="stylesheet">
    <title>프로필 정보 페이지</title>
</head>
<body>


<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
<div class="bar">
    <div class="logo">
        <img src="../image/logo.png" width="123" height="50">
    </div>
    <div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/home.svg">
            </div>
            <div class="menu-name">홈</div>
        </div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/search.svg">
            </div>
            <div class="menu-name">검색</div>
        </div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/explore.svg">
            </div>
            <div class="menu-name">탐색 탭</div>
        </div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/reels.svg">
            </div>
            <div class="menu-name">릴스</div>
        </div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/message.svg">
            </div>
            <div class="menu-name">메시지</div>
        </div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/notification.svg">
            </div>
            <div class="menu-name">알림</div>
        </div>
        <div class="menu">
            <div class="menu-icon">
                <img src="../image/create.svg">
            </div>
            <div class="menu-name">만들기</div>
        </div>
        <div class="menu">
            <div class="menu-icon bar-profile-box"><img th:src="@{/fileStore/{imageName}(imageName=${userInfo.imageStoreFileName})}" class="bar-profile-image"></div>
            <div class="menu-name">프로필</div>
        </div>
    </div>
    <div class="last"></div>
</div>
<div class="main">
    <div class="profile">
        <div class="profile-image-section">
            <div class="box">
                <img class="profile-image" th:src="@{/fileStore/{imageName}(imageName=${userInfo.imageStoreFileName})}">
            </div>
        </div>
        <div class="profile-text-section">
            <div class="id-section">
                <div class="j"><a class="font-size-25px" th:text="${userInfo.instagramId}">instagramId</a></div>
                <!--                <div class="follow-button-box">-->
                <!--                    <button class="follow-button" type="submit">팔로우</button>-->
                <!--                </div>-->
            </div>
            <div class="profile-blank"></div>
            <ul class="numbers">
                <li class="number">게시물 <span class="fw-600" th:text="${postCount}">게시물 수</span></li>
                <li class="number">팔로워 <span class="fw-600" th:text="${userInfo.followerCount}">팔로우 수</span></li>
                <li class="number">팔로우 <span class="fw-600" th:text="${userInfo.followingCount}">팔로잉 수</span></li>
            </ul>
            <div>
                <div class="name" th:text="${userInfo.name}">이름</div>
                <div class="introduction" th:text="${userInfo.introduction}">소개글</div>
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <div class="private-account-container">
        <div class="private-account-header">
            <svg fill="currentColor" height="48" role="img" viewBox="0 0 96 96" width="48">
                <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                </circle>
                <path d="M60.931 70.001H35.065a5.036 5.036 0 0 1-5.068-5.004V46.005A5.036 5.036 0 0 1 35.065 41H60.93a5.035 5.035 0 0 1 5.066 5.004v18.992A5.035 5.035 0 0 1 60.93 70ZM37.999 39.996v-6.998a10 10 0 0 1 20 0v6.998" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                </path>
            </svg>
            <h2>비공개 계정입니다</h2>
            <p>사진 및 동영상을 보려면 팔로우하세요.</p>
            <form th:action="'/follow/' + ${userInfo.instagramId}" method="post">
                <button class="follow-button" type="submit">팔로우</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>